<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="python" path="*.py" verb="*" modules="CgiModule" scriptProcessor="D:\Chandran\development\Python-source\python.exe %s %s" resourceType="File" />
        </handlers>
        <defaultDocument>
            <files>
                <add value="index.py" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
